.chat
  .side-bar
    .side-bar__user
      %h4.side-bar__user__name
        satsuki
    .side-bar__groups
      .side-bar__groups__group
        .side-bar__groups__group__name
          %h5
            sample1
        .side-bar__groups__group__message
          %h6
            まだメッセージはありません。
      .side-bar__groups__group
        .side-bar__groups__group__name
          %h5
            sample2
        .side-bar__groups__group__message
          %h6
          まだメッセージはありません。
    / .side-bar__groups__group
    /   .side-bar__groups__group__name
    /     %h5
    /       sample3
    /   .side-bar__groups__group__message
    /     %h6
    /       まだメッセージはありません。
    / .side-bar__groups__group
    /   .side-bar__groups__group__name
    /     %h5
    /       sample4
    /   .side-bar__groups__group__message
    /     %h6
    /       まだメッセージはありません。
    / .side-bar__groups__group
    /   .side-bar__groups__group__name
    /     %h5
    /       sample5
    /   .side-bar__groups__group__message
    /     %h6
    /       まだメッセージはありません。
    / .side-bar__groups__group
    /   .side-bar__groups__group__name
    /     %h5
    /       sample6
    /   .side-bar__groups__group__message
    /     %h6
    /       まだメッセージはありません。
  .main-contents
    .main-contents__group
      .main-contents__group__left
        .main-contents__group__left__name
          %h3
            sample1
        .main-contents__group__left__members
          %h5
            Member:satsuki
      .main-contents__group__right
        %a
          Edit
    .main-contents__chat-contents
      .main-contents__chat-contents__chat
        .main-contents__chat-contents__chat__member
          %h4
            satsuki
        .main-contents__chat-contents__chat__date
          %h5
            2018/02/23 9:44
        .main-contents__chat-contents__chat__message
          %h5
            aaa
      .main-contents__chat-contents__chat
        .main-contents__chat-contents__chat__member
          %h4
            satsuki
        .main-contents__chat-contents__chat__date
          %h5
            2018/02/23 9:44
        .main-contents__chat-contents__chat__message
          %h5
            aaa
    .main-contents__send-box
      %span
        type a message