.chat
  .side-bar
    .side-bar__user
      %h4.side-bar__user__name
        satsuki
    .side-bar__groups
      .side-bar__groups__group
        .side-bar__groups__group__name
          %h5
            sample1
        .side-bar__groups__group__message
          %h6
            まだメッセージはありません。
      .side-bar__groups__group
        .side-bar__groups__group__name
          %h5
            sample2
        .side-bar__groups__group__message
          %h6
          まだメッセージはありません。