$darkDeepBlueColor: #253141;
$deepBlueColor: #2f3e51;
$skyBlueColor: #38AEF0;
$whiteColor: #FFFFFF;
$moreLightGrayColor: #EEEEEE;
$grayColor: #DCDCDC;
$blackColor: #333333;
$lightGrayColor: #999999;
$lightBlackColor: #434A54;
$orangeColor: #F35500;
